/* ------------- share-wrapper ----------- */
.share-wrapper{
    /* border:2px solid white; */
    background: rgba(1,1,1,.8);
    position: absolute;
    left:0;
    right: 0;
    bottom: 0px;
    height: 40vh;
    padding: 1rem;
    border-radius: 2rem;
    z-index:10000;
    transition: all 1s ease-in-out;
}
.cancel-btn{
    /* border: 2px solid white; */
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.cancel-btn svg{
    color: var(--blue);
    font-size: 40px;
    transition: all .3s ease-in-out;
}
.cancel-btn svg:hover{
    color: var(--red);
}



/* ----------- share-buttons ------------- */
.share-buttons{
    /* border: 2px solid white; */
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    justify-content: center;
    padding: 1rem; 
}

/* ------------- .share-button ------------- */
.react-share__ShareButton svg{
    /* border:2px solid white; */
    border-radius: 10px;
    height: 4rem;
    width: 4rem;
    opacity: .7;
    transition: all .4s ease-in-out;
}

.react-share__ShareButton svg:hover{
    opacity: 1;
    transform:  scale(1.2) rotate(360deg);
    /* transform: scaleX(1.5); */

}





/* ############ Media Quries ############## */

@media only screen and (max-width:800px){
    /* ------------- .share-button ------------- */
    .react-share__ShareButton svg{
        /* border:2px solid white; */
        height: 5rem;
        width: 5rem;
    }
}

.cancel-btn svg {
    font-size: 2.5rem;
    
}




