@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --white:#fff;
  --black:#111;
  --blue:#3a80e9;
  --grey:#888;
  --dark-grey:#1b1b1b;
  --green:#61c96f;
  --red:#f94141;
}

/* ------- BODY ------ */

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--black);
  color: var(--white);
  font-family: 'Inter', sans-serif;
}


/* ----- CUSTOM SELECTION ------ */
::selection{
  background: var(--blue);
  color: var(--white);
}


/* ------ CUSTOM SCROLL BAR ------ */

/* width */
::-webkit-scrollbar {
  width: .3rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--black);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 3rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5d3cbd;
}


/* --------- a TAG --------- */
a{
  color: var(--white);
  text-decoration: none;
}


/* --------- NavLink --------- */
a.active{
  color: var(--blue);
}