.api-wrapper{
    /* border:2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--black);
    color: var(-blue);
    position: fixed;
    z-index:2000;
}

.message-container{
    /* border:2px solid white; */
    transform: translate(0%,-50%);
    margin-top: -290px;
    font-size: 1.5rem;
    color: var(--blue);
}

.btn-abs{
    position: absolute;
    margin-top: -7rem;
}